
 table {
            background-color: yellow; 
            border-collapse: collapse;
            width: 50%; 
            margin: 20px auto;
			border: 1px solid black;
        }

        
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
			 
        }
			td{
				 border: 1px solid black;
			}
     
     